---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignOperands: true
AllowShortFunctionsOnASignleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BrekBeforeBraces: Allman
UseTab: never
SpaceAfterCommaInMethodCall: true
TabWidth: '4'
ColumnLimit: '120'
QualifierAlignment: QAS_Right
