---
Language: Cpp
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignOperands: true
AllowShortFunctionsOnASignleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BrekBeforeBraces: Allman
QualifierAlignment: QAS_Right
SpaceAfterCommaInMethodCall: true
UseTab: never
...
